.wishFrame{
    display:flex;
    justify-content: space-around;
    height:100%;
    margin-bottom:40px;
}
.wishArea{
    display:flex;
    flex-direction: column;
    gap:20px;
    
}
.wishCard{
    display:flex;
    background-color: black;
    padding: 5px;
    color:white;
}

.wishCard:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -10px, 0);
  }

.wishImageArea{
    flex:1;
}
.wishInfo{
    padding-left: 10px;
    flex:6;
}
.wishButtonArea{
    display:flex;
    justify-content: space-between;
}

.notice{
    display: flex;
    flex-direction: column;
}

#wish-item-name{
    
}
#wish-item-name:hover{
    cursor: pointer;
}
