.wishFrame{
    display:flex;
    justify-content: space-around;
    height:100%;
}
.wishArea{
    display:flex;
    flex-direction: column;
    gap:10px;
    
}
.wishCard{
    display:flex;
    background-color: black;
    padding: 5px;
    color:white;
}

.wishImageArea{
    flex:1;
}
.wishInfo{
    padding-left: 10px;
    flex:6;
}
.wishButtonArea{
    display:flex;
    justify-content: space-between;
}

.notice{
    display: flex;
    flex-direction: column;
}