#register-form
{
    padding-top: 3%;
    padding-left: 1%;
    justify-content: center;
    width: 40%;
}

.btn
{
    margin-right: 2%;
}


.backsplash{
    background-color: black;
    color:white;
    display:flex;
    height:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap:40px;
}
.bLeft{
    height:100%;
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bRight{
    height: 200px;
    
}
.backsplashName{
    /* margin-left: 5%; */
    
}
.backsplashImage{
    width:250px;
}