.card {
  size: auto;
  min-width: 275px;
  max-width: 200px;
  height: fit-content;
  transition: 0.2s ease-out;
}

img {
  object-fit: contain;
  justify-content: center;
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 307px;
  left: 0;
}

div {
  position: relative;
  transition: 0.2s ease-out;
}
.input-group-sm  {
  padding: 10px; 
}



.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -10px, 0);
}

.discount {
  position: absolute;
  text-align: center;
  background-color: #000000;
  padding-right: 20px;
  padding-left: 10px;
  color: white;
  font-size: 14px;
  border-radius: 21px;
  font-weight: 900;
}