<div class="container mb-4">



  <div  *ngIf="!isLeavingReview">
      <button (click)="leaveReview()" class="btn btn-secondary mx-2">Leave a Review</button>
  </div>

  <form *ngIf="isLeavingReview" class="p-4"> 
      <div class="">
          <label for="review-text">Rate this product</label>
      </div>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ratingOptions" id="rate1" value="1">
          <label class="form-check-label" for="rate1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ratingOptions" id="rate2" value="2">
          <label class="form-check-label" for="rate2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ratingOptions" id="rate3" value="3">
          <label class="form-check-label" for="rate3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ratingOptions" id="rate4" value="4">
          <label class="form-check-label" for="rate4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ratingOptions" id="rate5" value="5">
          <label class="form-check-label" for="rate5">5</label>
        </div>
      <div class="form-group">
          <label for="review-text">Share your thoughts</label>
          <textarea class="form-control" id="review-text" rows="3"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary mx-2" type="submit">Submit form</button>
        <button class="btn btn-secondary mx-2" (click)="cancelLeaveReview()">Cancel</button>
      </div>
  </form>
</div>