<div class="footerFrame">
    <div class="footerTop">
        <div class="footerLeft">
            <p class="footerTitle"><b>About Us</b></p>
            <p> Cosmetics team is a group of full-stack web developers dedicated to polishing thier skills to create the ultimate web experience. Cosmetics app is a product of these five talented engineers coming together to deliver an ecommerce website with a cosmetics focused-theme.</p>
        </div>
        <div class="footerCenter">
            <p class="footerTitle"><b>Special Thanks</b></p>
            <p>Juniper Song</p>
            <p> Jon </p>
            <p>Revature</p>
            <p><a href="http://makeup-api.herokuapp.com/?ref=apilist.fun">Makeup API</a></p>
        </div>
        <div class="footerRight">
            <p class="footerTitle"><b>Site Creators</b></p>
            <p>Denis Espino</p>
            <p>Emmanual Morales</p>
            <p>Haizhen Huang</p>
            <p>Rushay Hays</p>
            <p>Sergio Garza</p>
        </div>
    </div>
    <div class="footerSocial">
        <button id="dbutton"><a href="https://github.com/espden"><img src="../../../assets/images/githubLogo.png" height="40px" width="40px"></a></button>
        <button id="ebutton"><img src="../../../assets/images/LLL.png" height="40px" width="40px"></button>
        <button id="hbutton"><img src="../../../assets/images/LLL.png" height="40px" width="40px"></button>
        <button id="rbutton"><a href="https://www.linkedin.com/in/rushay-hays/"><img src="../../../assets/images/LLL.png" height="40px" width="40px"></a></button>
        <button id="sbutton"><a href="https://www.linkedin.com/in/sergio-montoya-01/"><img src="../../../assets/images/LLL.png" height="40px" width="40px"></a></button>
    </div>
    <div class="footerCopyright">
        <p>&copy; 2022 Cosmetics</p>
    </div>
</div>
