<nav class="navbar navbar-light">
  <div class="logoArea">
    <img src="../../../assets/images/COSMOblack.png" id="navLogo" alt="cosmo logo">
    <h4 [routerLink]="['/home']" class="cosmo-title">Cosmo</h4>
  </div>
  <form class="form-inline">
    <button class="btn btn-light" [routerLink]="['/wishlist']">
      Wishlist
    </button>
    <button class="btn btn-light" [routerLink]="['/cart']">
      Cart
      <span class="badge badge-info">{{ cartCount }}</span>
    </button>
    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">
      Logout
    </button>
  </form>
</nav>
