
<h1 id="title">Purchase success!</h1>

<!--
<h3>Total Price : ${{totalPrice}}</h3>
-->
<h1 style="font-weight: 500;">Total Price : $99.99</h1>

<br>

<div id="billing" style="float: left; display:inline">
    <h4>BILLING ADDRESS</h4>
    <table class="table table-hover" style="width:70% ">
       <!--
        <tr>
            <td>Name: {{paymentInfo.cardName}}</td>
        </tr>
        <tr>
            <td>Street: {{paymentInfo.detail}}</td>
        </tr>
        <tr>
            <td>City: {{paymentInfo.city}}</td>
        </tr>
        <tr>
            <td>State: {{paymentInfo.state}}</td>
        </tr>
        <tr>
            <td>ZipCode: {{paymentInfo.zipCode}}</td>
        </tr>
        -->
        <tbody>
        <tr>
            <td>Name: haizhen</td>
        </tr>
        <tr>
            <td>Street: 926 madison st</td>
        </tr>
        <tr>
            <td>City: oakland</td>
        </tr>
        <tr>
            <td>State: CA</td>
        </tr>
        <tr>
            <td>ZipCode: 94607</td>
        </tr>
    </tbody>
    </table>
     
</div>

<br>
<img src="../../../assets/images/26465943.jpg" id="navLogo" alt="cosmo logo" style="float:left;display: inline;">
<div id="orderInfo">
    
   <!--
    <table *ngFor="let Product of products" class="table table-dark">
        
        <tr>
            <td>Product Name: {{Product.product.name}}</td>
        </tr>
        <tr>
            <td>Color: {{Product.product.colourName}}</td>
        </tr>
        <tr>
            <td>Quantity : {{Product.quantity}}</td>
        </tr>
        
    </table>
    -->
   
   
   <table class="table table-hover" style="width:100% ;">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Color</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>xxxxxxx</td>
                <td>green</td>
                <td>3</td>
            </tr>
            <tr>
                <td>xxxxxxx</td>
                <td>green</td>
                <td>3</td>
            </tr>
            <tr>
                <td>xxxxxxx</td>
                <td>green</td>
                <td>3</td>
            </tr>
            <tr>
                <td>xxxxxxx</td>
                <td>green</td>
                <td>3</td>
            </tr>
            <tr>
                <td>xxxxxxx</td>
                <td>green</td>
                <td>3</td>
            </tr>
        </tbody>
   </table>
  
 


</div>



