.sidebar-container {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2px;
  background-color: black;
}

.sidebar-product {
  height: 100px;
  background-color: rgba(230, 215, 215, 0.5);
  display: flex;
}

.side-bar-product-text {
  margin: auto;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
 