<div class="sidebar-container">
  <div class="sidebar-product" id="lipstick">
    <span class="side-bar-product-text" (click)="setSelectedProduct($event)"
      >Lipstick</span
    >
  </div>
  <div class="sidebar-product" id="eyeshadow">
    <span class="side-bar-product-text" (click)="setSelectedProduct($event)"
      >Eye shadow</span
    >
  </div>
  <div class="sidebar-product" id="eyeliner">
    <span class="side-bar-product-text" (click)="setSelectedProduct($event)"
      >Eye Liner</span
    >
  </div>
  <div class="sidebar-product" id="foundation">
    <span class="side-bar-product-text" (click)="setSelectedProduct($event)"
      >Foundation
    </span>
  </div>
  <div class="sidebar-product" id="blush">
    <span class="side-bar-product-text" (click)="setSelectedProduct($event)"
      >Blush</span
    >
  </div>
</div> 
