<div class="display-frame">
  <div class="sidebar">
    <app-sidebar (selectedProduct)="getSelectedProduct($event)"></app-sidebar>
  </div>
  <!-- <span class="btn btn-prev" (click)="DecrementProductCount()" [hidden]="productCount == 6"><</span> -->
  <!-- <span class="btn btn-next" id="triangle" (click)="IncrementProductCount()" [hidden]="productCount > products.length">></span> -->
  
  <div class="container">
    <div class="cards">
      <div id="cardsAndPageNum">
        <div class="row align-items-start">
          <div class="col" *ngFor="let product of productsToShow; let i = index">
            <app-product-card
              class="cardListItem"
              [productInfo]="product"
            ></app-product-card>
          </div>
        </div>
        <div class="pageandNextButtons">
          <div class="triangle" id="tLeft">
            <p class="btn btn-prev" (click)="DecrementProductCount()" [hidden]="productCount - 6 == 0"><</p>
          </div> 

          <div class="noSpanPage" id="page">
            <p>page {{page}}</p>
          </div>

          <div class="triangle" id="tRight">
            <p class="btn btn-next" id="triangle" (click)="IncrementProductCount()" [hidden]="productCount > products.length">></p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- <span class="page-count">page {{page}}</span> -->
  </div>
</div>
