/* Item sizing */
.display-frame{
  display:flex;
}

.sidebar {
  width: 15%;
  float: left;
}

/* .btn-prev {
  margin-top: 500px;
  display: block;
  float: left;
  font-size: 50px;
}
.btn-next {
  position: relative;
  display: inline;
  float: right;
  margin-top: 500px;
  margin-right: 23%;
  font-size: 50px;
} */
.btn-next{
  font-size: 50px;
}
.btn-prev{
  font-size: 50px;
}
.cardListItem {
  flex: 0 0 307px;
  padding-bottom: 6%;
  max-width: 400px;
  /* margin-left: 6%; */
}
.col {
  margin-top: 10px;
  text-align: center;
}

.page-count {
  position: absolute;
  bottom: 100px;
  left: 50%;
}

/* small size viewport */
@media screen and (max-width: 640px) {
  /* Item sizing */
  .cardListItem {
    flex: 0 0 307px;
    margin-left: 4%;
    padding-left: 3%;
  }
}
/* medium size viewport */
@media screen and (max-width: 959px) {
  /* Item sizing */
  .cardListItem {
    /* flex: 0 0 307px; */
    margin-left: 5%;
    margin-right: 5%;
  }
}

@supports (display: grid) {
  .product-cards {
    max-width: 10000px;
    margin: 0;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 6px;
  }
}

.container {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  
}

#cardsAndPageNum{
  display: flex;
  flex-direction: column;
}

.cardsAndNextPageButton{
  display:flex;
}
.triangle{
  align-self: center;
  
}

.noSpanPage{
  margin-top:40px;
  align-self: center;
  
}

.col-4 {
  margin-bottom: 1%;
}
