<div class="container">
    <div class="row">
        <div class="col border"><img [src]="product.image"></div>
        
        <div class="col">
            <div class="row">
                <div class="col border"><span>Buy Options</span></div>
            </div>
            <div class="row">
                <div class="col border">
                    <span>Details</span>
                    <p>
                        {{product.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <p>
                Reviews
            </p>
            <div>
                <app-product-review *ngFor="let review of reviews" [review]="review" class="m-4"></app-product-review>
            </div>
            <app-product-review-form></app-product-review-form>
        </div>
    </div>
</div>