<div class="container">
    <div class="row">
        <div class="col border"><img [src]="products[0].image"></div>
        <div class="col">
            <div class="row">
                <div class="col border"><span>Buy Options</span></div>
                <div class="add to cart">
                    <button class="btn btn-light" (click)="AddToCart()" style="color:green">
                        Add To Cart
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col border">
                    <span>Details</span>
                    <p>
                        {{products[0].description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col border">
            <p>
                Reviews
            </p>
            <div>
                <app-product-review *ngFor="let review of reviews" [review]="review" class="m-4"></app-product-review>
            </div>
            
        </div>
    </div>
</div>